* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --preto: #000;
    --cinza: #515151;
    --cinza-claro: #CCCCCC;
    --vermelho: #CC0000;

    --font-family: 'Roboto', sans-serif;
}