* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {

    --preto: #000;
    --cinza: #515151;
    --cinza-claro: #CCCCCC;
    --vermelho: #CC0000;

    --font-family: 'Roboto', sans-serif;
}

.semi-bold {
    font-weight: 600;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.font-size-14 {
    font-size: 0.875rem;
}

.font-size-12 {
    font-size: 0.75rem;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.gray {
    color: var(--cinza);
    width: 100%;
    max-width: 510px;
}