main {
    display: flex;
    gap: 25px;
    padding: 16px;
}

#video-img {
    width: 100%;
    max-width: 952px;
}

.main-video h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.video-actions {
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 22px;
}

.video-actions>.flex-row {
    align-items: center;
}

.main-video button {
    padding: 12px 36px;
    border: none;
    border-radius: 2px;
    background-color: var(--vermelho);
    color: #fff;
    cursor: pointer;
}

.main-video p {
    font-size: 0.875rem;
}

.descricao {
    width: 100%;
    max-width: 510px;
}

.grid-video {
    text-align: left;
}

@media (max-width: 1269px) {
    .video-actions {
        gap: 24px;
    }

    .video-actions button {
        padding: 10px 28px;
    }
}

@media (max-width: 1188px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    .main-video,
    .recommended {
        width: 100%;
        max-width: 952px;
    }

    .recommended {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .recommended>.flex-row,
    .recommended>.flex {
        flex-direction: column;
    }

    .grid-video img {
        width: 100%;
        min-width: 160px;
        max-width: 360px;
    }

    .gap-8 {
        gap: 5px;
    }

    .duas-linhas {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .text-hidden {
        display: none;
    }
}