main {
    display: flex;
    padding: 16px 0;
}

.main-video {
    padding: 0 50px;
}

#video-img {
    width: 100%;
    max-width: 952px;
}

.main-video h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.video-actions {
    gap: 42px;
    white-space: nowrap;
}

.main-video button {
    padding: 12px 36px;
    border: none;
    border-radius: 2px;
    background-color: var(--vermelho);
    color: #fff;
    cursor: pointer;
}

.main-video p {
    font-size: 0.875rem;
}